<div class="form-sizing">
  <div class="flight-details">
    Enter your Flight Details
  </div>
  <div class="gray-sub-head-text mb-4">and flind your booking</div>
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label"
      >Passenger Last Name</label
    >
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Example input placeholder"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label"
      >Booking Reference</label
    >
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Another input placeholder"
    />
  </div>
  <div class="ml-auto">
    <button class="btn btn-primary">Manage Your Booking</button>
  </div>
</div>
