<div class="flex-main vh-100">
  <div class="column-spec p-5">
    <div class="font-jumbo fw-600 me-auto">Let the journey begin</div>
    <div class="gray-sub-head-text font-14 me-auto mb-3">
      Check in, Change Your Flight, Change your seat
    </div>
    <div class="content-body d-flex align-items-center">
      <div class="booking-form w-100">
        <div class="d-flex align-items-center ml-auto">
          <app-flight-card></app-flight-card>
          <div class="mr-auto">
            <img
              class="booking-image me-4 mr-auto"
              style="width: 450px; height: 300px;"
              src="../../../assets/images/bookingRefImage.JPG"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </div>
</div>
